{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<form method="post" class="container d-flex flex-column justify-content-center card p-5 shadow-sm mt-3" style="max-width: 600px;" novalidate>
  {% csrf_token %}

  <h3 class="text-center">Register</h3>
  <fieldset class="form-group">
    {{ form|crispy }}
</fieldset>
  <button type="submit" class="btn btn-primary mt-3 mb-3">Register</button>

  <div class="text-center">
    <span>Already Have An Account? </span>
    <a href="{% url 'login_user' %}" class="text-primary">Sign In</a>
  </div>

</form>
{% endblock %}